/* Mobile First (default styles) */

@media (min-width: 480px) { 
    /* Bigger phones */
.homePanel .projectOverViewFlex{
    border: 2px solid red !important;
    flex-direction: column;
}




    
}
@media (min-width: 640px) { 
    /* Large phones / phablets */ 
.homePanel .projectOverViewFlex{
    border: 2px solid red !important;
    flex-direction: column;
}



}
@media (min-width: 768px) { /* Tablets */ }
@media (min-width: 1024px) { 
    
    /* Tablets landscape / small laptops */ }
@media (min-width: 1280px) { /* Laptops */ }
@media (min-width: 1536px) { /* Large Desktop / 4K */ }