/* Enter your custom styles here */

.homeView .userAvatar {
    border: 1px solid #758CA4;
}

body .give-freely-root {
    display: none;
}

.homeView .tileLayout {
    float: left;
}

.homeView .border1 {
    border: 2px solid red;
}

.homeView .border2 {
    border: 2px solid green;
}

.homeView .sideHighlight {

    border-left: 4px solid #FFC933;
    border-radius: 1%;
    padding-left: 3px;

}

.openTaskPanel>.sapMPanelContent {
    padding: 0;
}

.sapMPanel.openTaskPanel {
    border: 2px solid;
}

.sapMFlexBox>.projectDetailsCard {
    border-radius: 0.5rem !important;
    padding: 1rem;
    background-color: var(--sapButton_Active_Background);
    max-height: 110px;

}

.sapMFlexBox>.projectDetailsCard :hover {
    background-color: var(--sapButton_Hover_Background);
    box-shadow: var(--sapContent_Shadow);

}

.sapMITB>.sapMITH>.sapMITBHead {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
}

.projectDetailsIconTab>.sapMFlexItem {
    width: 100% !important;

}

.sapMFlexBox>.iconTabBarProjectOverviewContent {
    background-color: var(--sapButton_Active_Background);
}

.sapUiMedia-Std-Desktop .sapMSplitContainer.sapMSplitContainerShowHide .sapMITH {
    padding: 0 0.3rem;
}

.iconTabBarProjectOverview>.sapMFlexItem {
    border-radius: 1rem;
    width: 100%;
}

.iconTabBarProjectOverview>.iconTabBarProjectOverviewContent {
    padding: 1rem !important;
}

.projectGoals>.sapMListHdrText {
    border-radius: none;
    background-color: transparent !important;
    border: none;

}

/* Project Overview / Teams Details */

.teamMemberTable>.sapMIBar {
    padding: 0.2rem 1rem;
}

.teamMemberTableColumnList>.sapMListTblCell.sapMTblCellFocusable>.sapMTB.sapMTBStandard {
    border: none !important;
}

/* Project Overview / Teams Details */

.deadlineSection>.testingJust {
    border: 2px solid red;
}

/* Mobile First (default styles) */
/* Extra Small Phone */
@media (max-width: 400px) {

    .sapMPanel.openTaskPanel {
        width: 300px !important;
    }

    .sapMFlexBox .projectObjectBoxUpperContent {
        flex-direction: column;
    }

    .sapMFlexBox .projectDetailsCard {
        width: 300px !important;
    }


    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent {
        width: 100% !important;
    }

    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent.projectDetails {
        width: 100% !important;
    }
}

@media (min-width: 480px) {
    /* Bigger phones */

    .sapFCard.projectCard {

        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .sapMPanel.openTaskPanel {
        width: 400px !important;
    }

    .sapMFlexBox .projectObjectBoxUpperContent {
        flex-direction: column;
    }



    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent {
        width: 100% !important;
    }

    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent.projectDetails {
        width: 100% !important;
    }
}

@media (min-width: 640px) {

    /* Large phones / phablets */
    .homePanel .projectOverViewFlex {
        flex-direction: column !important;
    }

    .sapFCard.projectCard {
        width: 100% !important;
    }

    .sapMPanel.openTaskPanel {
        width: 500px;
    }
}

@media (min-width: 768px) {

    /* Tablets */
    .sapFCard.projectCard {
        width: 500px !important;
    }

    .homePanel .projectOverViewFlex {
        flex-direction: row !important;
    }

    .sapMPanel.openTaskPanel {
        width: 500px;
    }


    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent {
        width: 60% !important;
    }

    .iconTabBarProjectOverview>.iconTabBarProjectOverviewContent.projectDetails {
        width: 35% !important;
    }


}

@media (min-width: 1024px) {

    /* Tablets landscape / small laptops */
    .sapFCard.projectCard {

        width: 500px !important;
    }

    .sapMFlexBox .projectObjectBoxUpperContent {
        flex-direction: row;
        justify-content: space-around;
    }


}

@media (min-width: 1280px) {

    /* Laptops */
    .sapMFlexBox .projectObjectBoxUpperContent {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-width: 1536px) {
    /* Large Desktop / 4K */
}